html {
  box-sizing: border-box;
  background-color: var(--backB);
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --primary: rgb(22, 104, 78);
  --primaryLight: rgb(23, 125, 93);
  --secondary: rgb(102, 229, 165);
  --pending: rgb(255, 255, 164);
  --approved: rgb(218, 254, 163);
  --rejected: rgb(255, 215, 141);
  --backA: white;
  --backB: #EEE;
  --backC: #CCC;
  --borderA: #AAA;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.table__filters {
  width: 13%;
  height: 100%;
  background-color: var(--backA);
  border-radius: 15px;
  margin: 1%;
}
.table__filters div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}
.table__filters a {
  width: 80%;
  text-align: center;
  text-decoration: none;
  margin: 4px;
  padding: 4px 8px;
  border: solid 2px transparent;
  border-radius: 5px;
}
.table__filters a:hover {
  background-color: var(--backB);
}
.table__filters h2, .table__filters h3 {
  width: -moz-max-content;
  width: max-content;
  margin: 8px;
}
.table__filters .active {
  color: white;
  border: solid 1px var(--borderA);
  background-color: var(--primary);
}
.table__filters .active:hover {
  background-color: var(--primaryLight);
}
.table__dashboard {
  width: 85%;
}
.table__dashboard h1 {
  width: -moz-max-content;
  width: max-content;
  margin-inline: auto;
}
.table__dashboard table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
}
.table__dashboard th {
  padding: 4px;
}
.table__dashboard td {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px;
}
.table__row {
  cursor: pointer;
}
.table__row:hover {
  background-color: rgba(51, 51, 51, 0.2);
}
.table__row:focus {
  outline: 2px solid black;
  outline-offset: -2px;
}
.table__notes {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.table__pagination__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 16px;
}
.table__pagination__buttons a, .table__pagination__buttons div {
  background-color: black;
  color: white;
  font-weight: bold;
  width: 32px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}
.table__pagination__buttons a:hover, .table__pagination__buttons div:hover {
  background-color: var(--primaryLight);
}
.table__pagination__buttons .active {
  background-color: var(--primary);
}
.table__pagination__buttons .disabled {
  background-color: grey;
  cursor: default;
}
.table__pagination__buttons .disabled:hover {
  background-color: grey;
}
.table__pagination__count {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.status, .status__rejected, .status__approved, .status__pending, .status__submitted {
  width: 100px;
  padding: 4px 8px;
  border-radius: 10px;
  text-align: center;
}
.status__pending, .status__submitted {
  background-color: var(--pending);
}
.status__approved {
  background-color: var(--approved);
}
.status__rejected {
  background-color: var(--rejected);
}

button {
  padding: 12px 16px;
  margin: 8px;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  border: solid 1px var(--borderA);
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: var(--primaryLight);
}

nav {
  background-color: var(--backA);
  display: flex;
  align-items: center;
  justify-content: right;
  height: 50px;
  gap: 30px;
}
nav p {
  padding: 0;
  margin: 0;
}

.user-badge, .user-badge--clickable {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  border: solid 1px var(--borderA);
  border-radius: 100%;
  width: 40px;
  aspect-ratio: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 8px 8px 8px 0;
  padding: 0;
}
.user-badge--clickable {
  margin: 8px;
  cursor: pointer;
}
.user-badge b, .user-badge--clickable b {
  position: relative;
  top: -1px;
}

.user-dropdown {
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  position: absolute;
  right: 5px;
  top: 45px;
  background-color: var(--backA);
  border: solid 1px var(--borderA);
  border-radius: 5px;
  min-width: 200px;
}
.user-dropdown__details {
  display: flex;
  align-items: center;
  background-color: var(--backC);
  border-radius: 4px 4px 0 0;
  padding: 0 16px;
  margin-bottom: 8px;
}
.user-dropdown__details p {
  margin: 0;
}
.user-dropdown__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-dropdown__content p, .user-dropdown__content a {
  padding: 4px 16px;
  margin: 0;
}
.user-dropdown__content a:hover {
  background-color: var(--backC);
}
.user-dropdown__content button {
  width: 60%;
  margin-top: 32px;
  margin-inline: auto;
}
.user-dropdown__clickaway {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.user-dropdown.active, .user-dropdown__clickaway.active {
  display: flex;
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-table {
  display: flex;
  gap: 10px;
  width: 100%;
}

.global-audit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audit-table {
  display: flex;
  gap: 10px;
  width: 100%;
}

.login {
  display: flex;
  height: 100vh;
}
.login__banner {
  width: 70%;
  background-image: url("@/public/mountains.jpg");
}
.login__form {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.login__form form button {
  margin-top: 32px;
}
.login__form input {
  width: 70%;
  padding: 12px 16px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
}
.login__form button {
  width: 50%;
}
.login__demo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}
.login__submit {
  width: 100%;
  text-align: center;
  margin-top: 64px;
}/*# sourceMappingURL=main.css.map */