html {
  box-sizing: border-box;
  background-color: lightgray;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

.table__filters {
  width: 15%;
}
.table__filters div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}
.table__filters a {
  width: 60%;
  text-align: center;
  text-decoration: none;
  margin: 4px;
  padding: 4px 8px;
  border: solid 2px transparent;
  border-radius: 5px;
}
.table__filters h2, .table__filters h3 {
  width: -moz-max-content;
  width: max-content;
  margin: 8px;
}
.table__filters .active {
  color: rgb(15, 168, 15);
  border: solid 2px rgb(15, 168, 15);
}
.table__dashboard {
  width: 85%;
}
.table__dashboard table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
}
.table__dashboard th {
  padding: 4px;
}
.table__dashboard td {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px;
}
.table__row {
  cursor: pointer;
}
.table__row:hover {
  background-color: rgba(51, 51, 51, 0.2);
}
.table__row:focus {
  outline: 2px solid black;
  outline-offset: -2px;
}
.table__notes {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.table__pagination {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 32px;
}
.table__pagination a, .table__pagination div {
  background-color: black;
  color: white;
  width: 32px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table__pagination .active {
  background-color: green;
}
.table__pagination .disabled {
  background-color: grey;
  cursor: default;
}
.table__pagination .page-count {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.status, .status__rejected, .status__approved, .status__pending, .status__submitted {
  width: 80px;
  padding: 4px 8px;
  border-radius: 10px;
  text-align: center;
}
.status__pending, .status__submitted {
  background-color: rgb(255, 255, 164);
}
.status__approved {
  background-color: rgb(218, 254, 163);
}
.status__rejected {
  background-color: rgb(255, 215, 141);
}

button {
  padding: 12px 16px;
  margin: 8px;
  border: none;
  border-radius: 5px;
}

nav {
  background-color: #EEE;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}
nav p {
  padding: 0;
  margin: 0;
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-page h1 {
  width: -moz-max-content;
  width: max-content;
}

.content-table {
  display: flex;
  gap: 10px;
  width: 100%;
}

.global-audit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.global-audit-page h1 {
  width: -moz-max-content;
  width: max-content;
}

.audit-table {
  display: flex;
  gap: 10px;
  width: 100%;
}

.login {
  display: flex;
  height: 100vh;
}
.login__banner {
  width: 70%;
  background-image: url("@/public/mountains.jpg");
}
.login__form {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.login__form form button {
  margin-top: 32px;
}
.login__form input {
  width: 70%;
  padding: 12px 16px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
}
.login__form button {
  width: 50%;
}
.login__demo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}
.login__submit {
  width: 100%;
  text-align: center;
  margin-top: 64px;
}/*# sourceMappingURL=main.css.map */