html {
  box-sizing: border-box;
  background-color: var(--backB);
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 50px;
}