:root {
  --primary: rgb(22, 104, 78);
  --primaryLight: rgb(23, 125, 93);

  --secondary: rgb(102, 229, 165);

  --pending: rgb(255, 255, 164);
  --approved: rgb(218, 254, 163);
  --rejected: rgb(255, 215, 141);

  --backA: white;
  --backB: #EEE;
  --backC: #DDD;
  --borderA: #AAA;

}