nav {
  background-color: #EEE;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;

  & p {
    padding: 0;
    margin: 0;
  }
}

.user-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(102, 102, 229);
  border-radius: 100%;
  width: 40px;
  aspect-ratio: 1;
  user-select: none;
  margin: 8px 8px 8px 0;
  
  &--clickable {
    margin: 8px;
    @extend .user-badge;
    cursor: pointer;
  }
}

.user-dropdown {
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  position: absolute;
  right: 0;
  top: 50px;
  background-color: white;
  border: solid 1px #AAA;
  border-radius: 5px;
  padding: 16px;

  & p {
    margin: 0;
  }

  & a {
    margin: 8px 0;
  }

  &__details {
    display: flex;
    align-items: center;
  }

  &__clickaway {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }
}

.user-dropdown.active, .user-dropdown__clickaway.active {
  display: flex;
}