nav {
  background-color: #EEE;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;

  & p {
    padding: 0;
    margin: 0;
  }
}

.user-badge {
  background-color: rgb(102, 102, 229);
  cursor: pointer;
  border-radius: 100%;
  padding: 8px;
  margin: 8px;
}

.user-dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  background-color: red;

  &__clickaway {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}

.user-dropdown.active, .user-dropdown__clickaway.active {
  display: none;
}